html {
    position: relative;
    min-height: 100%;
}

body {
    font: 14px Geneva, Tahoma, sans-serif !important;
    margin-bottom: 40px;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #00B7FF;
}

nav#topnav {
    background-color: #2c3e50 !important;
    color: white !important;
    padding: 20px 0;
}

nav#topnav .navbar-brand {
    color: white !important;
    font-size: 24px;
    font-variant: small-caps;
    font-weight: 700;
    line-height: 1.1em;
    padding: 0 15px !important;
}

div#topnav-links > ul.navbar-nav  > li > a {
    color: white !important;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: capitalize;
    font-variant: small-caps;
}

div#topnav-links > ul.navbar-nav  > li > a > .glyphicon {
    margin-right: 4px;
}

div#topnav-links > ul.navbar-nav  > li > a:hover {
    background-color: #18bc9c;
    color: #2c3e50 !important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
}

.team-item {
    margin-bottom: 20px;
}

.team-item > .team-image {

    background-color: #00B7FF;
    border-radius: 50%;
    display: block;
    float: left;
    height: 25px;
    margin: 0 10px 10px 0;
    width: 25px;
}

.team-item > .team-name {
    font-size: 18px;
    font-weight: 700;

}