.row
    .col-sm-8.col-sm-offset-2
        h1 Create User

        form.form
            .form-group
                label(for="email") Email
                input#email.form-control(type="email", placeholder="Email")
            .form-group
                label(for="firstName") First Name
                input#firstName.form-control(type="text", placeholder="firstName")
            .form-group
                label(for="lastName") Last Name
                input#lastName.form-control(type="text", placeholder="lastName")
            .pull-right
                button.btn.btn-primary.btn-sm(type="submit") Submit