h1 Leader Board

table.table.table-condensed.table-hover(style="min-width: 100px")
    thead
        tr
            th(style="width: 12px")
            th Team

    tbody
        tr
            td(style="width: 12px") 1.
            td 10  Pin Divas
        tr
            td 2.
            td Schweddy Balls
        tr
            td 3.
            td Glory Bowls
        tr
            td 4.
            td Knuckles Deep
        tr
            td 5.
            td Mind in the Gutter
        tr
            td 6.
            td Bowl Movements