.navbar-header.page-scroll
    button.navbar-toggle(type="button", data-toggle="collapse", data-target="#topnav-links")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    a.navbar-brand(href="/")
        | The League of<br/>EXTRA-ORDINARY Bowlers

.collapse.navbar-collapse#topnav-links
