.btn-group(role="group", aria-label="Players Table Actions")
    button.btn.btn-sm.btn-primary.btn-create-user(type="button")
        span.glyphicon.glyphicon-plus
        | New Season

.players-table